$marron : #3c1c02;
$couleur2:#ebe6e2;
$blue :#135981;
$blue-dark :#303343;
$red : #ff0000;
$gris : #e3eaef;

$white : #fff;
$black : #505050;
$textcolor : #999999;
$menubottom : #8e8e8e;
$primary-color: #d7d2c6;
$secondary-color: #7b6857;
$champfont :'Champagne &amp; Limousines';
$champfontbold :'Champagne &amp; Limousines Bold';

